package components

var docTypeOptions = []SelectOption{
{
Value: "",
Label: "Seleccione una opción",
},
{
Value: "CC",
Label: "Cédula de ciudadanía",
},
{
Value: "NIT",
Label: "NIT",
},
{
Value: "CE",
Label: "Cédula de extranjería",
},
}

templ ClientForm() {
<form data-testid="client-form" hx-post="/clients">
    @Select("doc_type", SelectAttrs{Label: "Tipo de documento:", Options: docTypeOptions})
    @Input("doc_number", InputAttrs{Label: "Numero de documento:"})
    @Input("name", InputAttrs{Label: "Nombre:"})
    @Input("address", InputAttrs{Label: "Direccion:"})
    @Input("email", InputAttrs{Label: "Direccion de correo:"})
    @Input("phone_number", InputAttrs{Label: "Número celular:"})
    @Button(ButtonAttrs{Label: "Cancelar"})
    @Button(ButtonAttrs{Label: "Save", Type: "submit"})
</form>
}
