{{ define "product_record_form" }}
    <form hx-put="/storages/main/items">
        <div id="error-alert"></div>
        <div class="mb-3">
            <label for="product" class="form-label">Producto</label>
            <select name="product" id="product" class="form-control">
                <option value="">-- Seleccione un producto --</option>
                {{range .}}
                    {{- /*gotype: co.bastriguez/inventory/internal/routes.Product*/ -}}
                    <option value="{{.Id}}">{{.Name}} ({{.Presentation}})</option>
                {{end}}
            </select>
        </div>
        <div class="mb-3">
            <label for="qty" class="form-label">Cantidad:</label>
            <input id="qty" type="number" name="qty" class="form-control">
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
{{ end }}

{{ define "remission_form" }}
    <form>
        <div>
            <label for="client">Client:</label>
            <select name="client" id="client">
                <option value="">-- seleccione un cliente --</option>
                <option value="c-a">Cliente A</option>
                <option value="c-b">Cliente B</option>
                <option value="c-c">Cliente C</option>
            </select>
        </div>
        <div>
            <label for="product">Producto:</label>
            <select name="product" id="product">
                <option value="">-- seleccione un producto --</option>
                <option value="p-a">Product A</option>
                <option value="p-b">Product B</option>
                <option value="p-c">Product C</option>
            </select>
        </div>
        <div>
            <label for="qty">Cantidad: </label>
            <input type="text" name="qty" id="qty">
        </div>
        <div>
            <button>Guardar</button>
            <button>Cancelar</button>
        </div>
    </form>
{{ end }}
