<section>
    <h2>Bodega</h2>

    <div>
        <button class="btn btn-primary"
                hx-get="/storages/main/items/add"
                hx-target="#right-drawer">
            Ingresar Producto
        </button>
    </div>

    <div id="product-panel"
         hx-get="/storages/main/items"
         hx-trigger="load-storage-products from:body">
        {{ block "inventory" .Products }}
            <ul id="products">
                {{ range . }}
                    {{- /*gotype: co.bastriguez/inventory/internal/routes.ProductItem*/ -}}
                    <li>{{ .Name }} - <span>{{ .Qty }}</span> {{ .Presentation }}</li>
                {{end}}
            </ul>
        {{ end }}
    </div>
</section>

<section>
    <h2>Remisiones</h2>

    {{ block "remissions" .Remissions }}
        <ul id="remissions">
            {{ range . }}
                <li>
                    {{.CreatedAt.Format "02/01/2006"}} - {{.ClientName}} - {{.ProductItem.Name}}
                    - {{.ProductItem.Amount}}
                </li>
            {{ end }}
        </ul>
    {{end}}
</section>
