html {
    margin:    0 auto;
    max-width: 1024px;
}

main{
    display: flex;
    width: 100%;
}

admin-main{
    display: flex;
    flex-direction: column;
}

section{
    flex-grow: 1;
}

side-drawer {
    width: 50vw;
    background-color: inherit;
}
