<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Inventarios - Bastriguez</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Inventarios Bastriguez</h1>
    <button class="btn" id="btn-logout">Cerrar sesión</button>
    <div hx-get="/profile" hx-trigger="load">
    </div>
</header>

<main>
    {{embed}}
</main>

<footer>
    2024
</footer>

<side-drawer id="right-drawer" right></side-drawer>

<script type="module" src="scripts/components.js"></script>
<script type="module" src="scripts/custom-events.js"></script>
<script type="module" src="scripts/actions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
