{{ define "inventory" }}
    <ul>
        <li>Product X - 15</li>
        <li>Product Y - 10</li>
    </ul>
{{ end }}

{{ define "remissions"}}
    <ul>
        <li>15/12/2023 - Client A - Product X - 15</li>
        <li>10/12/2023 - Client B - Product Y - 10</li>
    </ul>
{{end}}