package pages

import (
	"co.bastriguez/inventory/internal/platform/server/views/components"
	"co.bastriguez/inventory/internal/platform/server/views/layouts"
)

templ CreateClient() {
	@layouts.Base() {
		@components.ClientForm()
	}
}
